.fill-height {
  .v-textarea {
    height: 100%; 

    .v-input__control {
      height: 100%;
  
      .v-input__slot {
        height: 100%;
        margin-bottom: 0;
  
        textarea {
          height: calc(100% - 20px);
          font-size: 0.8rem;
          line-height: 1.5;
        }
      }
    }
  }
  
}

.dw-preview-grid {
  width: 1000;
  position: relative;

  .dw-preview-col {
    position: absolute;
    top: 0;
    font-size: 12px;
  }
}

/* required class */
.my-editor {
  /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
  background: #2d2d2d;
  color: #ccc;

  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}

/* optional class for removing the outline */
.prism-editor__textarea:focus {
  outline: none;
}